
<h1>Programs</h1>
<div class="lineBreak"></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/Java.png", alt: "Java", class: "iconBG")%><%=image_tag("logo/black/Java.png", alt: "Java", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/python.png", alt: "python", class: "iconBG")%><%=image_tag("logo/black/python.png", alt: "python", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/c++.png", alt: "C++", class: "iconBG")%><%=image_tag("logo/black/c++.png", alt: "C++", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/csharp.png", alt: "cSharp", class: "iconBG")%><%=image_tag("logo/black/csharp.png", alt: "cSharp", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/JS.png", alt: "JS", class: "iconBG")%><%=image_tag("logo/black/JS.png", alt: "JS", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/coffee.png", alt: "coffee", class: "iconBG")%><%=image_tag("logo/black/coffee.png", alt: "coffee", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/CSS.png", alt: "CSS", class: "iconBG")%><%=image_tag("logo/black/CSS.png", alt: "CSS", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/HTML.png", alt: "HTML", class: "iconBG")%><%=image_tag("logo/black/HTML.png", alt: "HTML", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/sass.png", alt: "sass", class: "iconBG")%><%=image_tag("logo/black/sass.png", alt: "sass", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/modern.png", alt: "modernizer", class: "iconBG")%><%=image_tag("logo/black/modern.png", alt: "modernizer", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/rails.png", alt: "rails", class: "iconBG")%><%=image_tag("logo/black/rails.png", alt: "rails", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/jqmob.png", alt: "jqmob", class: "iconBG")%><%=image_tag("logo/black/jqmob.png", alt: "jqmob", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/visual.png", alt: "visual", class: "iconBG")%><%=image_tag("logo/black/visual.png", alt: "visual", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/mono.png", alt: "mono", class: "iconBG")%><%=image_tag("logo/black/mono.png", alt: "mono", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/git.png", alt: "git", class: "iconBG")%><%=image_tag("logo/black/git.png", alt: "git", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/Unity.png", alt: "Unity", class: "iconBG")%><%=image_tag("logo/black/Unity.png", alt: "Unity", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/fireworks.png", alt: "fireworks", class: "iconBG")%><%=image_tag("logo/black/fireworks.png", alt: "fireworks", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/photoshop.png", alt: "photoshop", class: "iconBG")%><%=image_tag("logo/black/photoshop.png", alt: "photoshop", class: "icon")%></div>
<h1>Work</h1>
<div class="lineBreak"></div>
<a href= "http://www.team-flashkick.com/Pelle/Voxel/"><div class= "imagePlaceHolder"><%=image_tag("logo/voxel.png", alt: "voxel", class: "iconBG")%><%=image_tag("logo/voxel.png", alt: "voxel", class: "icon")%></div></a>
<div class= "imagePlaceHolder"><%=image_tag("logo/dsv.png", alt: "dsv", class: "iconBG")%><%=image_tag("logo/black/dsv.png", alt: "dsv", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/lant.png", alt: "lant", class: "iconBG")%><%=image_tag("logo/black/lant.png", alt: "lant", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/sandvik.png", alt: "sandvik", class: "iconBG")%><%=image_tag("logo/black/sandvik.png", alt: "sandvik", class: "icon")%></div>
<a href= "http://www.team-flashkick.com"><div class= "imagePlaceHolder"><%=image_tag("logo/tfk.png", alt: "team-flashkick", class: "iconBG")%><%=image_tag("logo/tfk.png", alt: "team-flashkick", class: "icon")%></div></a>
<h1>Studies</h1>
<div class="lineBreak"></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/su.png", alt: "Stockholm Universitet", class: "iconBG")%><%=image_tag("logo/black/su.png", alt: "Stockholm Universitet", class: "icon")%></div>
</br>
<%= link_to "View Complete CV", '/cv.pdf' %>