<div class= "imagePlaceHolder"><%=image_tag("logo/dsv.png", alt: "dsv", class: "iconBG")%><%=image_tag("logo/black/dsv.png", alt: "dsv", class: "icon")%></div>
<div class="lineBreak"></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/jqmob.png", alt: "jqmob", class: "iconBG")%><%=image_tag("logo/black/jqmob.png", alt: "jqmob", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/CSS.png", alt: "CSS", class: "iconBG")%><%=image_tag("logo/black/CSS.png", alt: "CSS", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/HTML.png", alt: "HTML", class: "iconBG")%><%=image_tag("logo/black/HTML.png", alt: "HTML", class: "icon")%></div></br></br></br></br>
<div class= "imagePlaceHolder"><%=image_tag("logo/voxel.png", alt: "voxel", class: "iconBG")%><%=image_tag("logo/black/voxel.png", alt: "voxel", class: "icon")%></div>
<div class="lineBreak"></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/JS.png", alt: "JS", class: "iconBG")%><%=image_tag("logo/black/JS.png", alt: "JS", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/mono.png", alt: "mono", class: "iconBG")%><%=image_tag("logo/black/mono.png", alt: "mono", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/git.png", alt: "git", class: "iconBG")%><%=image_tag("logo/black/git.png", alt: "git", class: "icon")%></div>
<div class= "imagePlaceHolder"><%=image_tag("logo/Unity.png", alt: "Unity", class: "iconBG")%><%=image_tag("logo/black/Unity.png", alt: "Unity", class: "icon")%></div>